routingRules:
  - version: "2.0.0"
    targetType: "url"
    target:
      url: "${BPP_URL}/api/webhook"
    endpoints:
      - select
      - init
      - confirm
      - status
      - cancel
      - update
      - rate
      - support
      - catalog/on_publish
