routingRules:
  - version: "2.0.0"
    targetType: "url"
    target:
      url: "${BAP_URL}/api/webhook"
    endpoints:
      - on_select
      - on_init
      - on_confirm
      - on_status
      - on_cancel
      - on_update
      - on_rate
      - on_support
